{% render 'partials/head.liquid' %}

<main>
    <section>
        <h2>About Me</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis fugiat ipsa atque corrupti similique iste
            earum eveniet porro, voluptatum rem dignissimos totam architecto, temporibus nobis ducimus beatae quas saepe
            fugit.</p>
    </section>

    <section>
        <h2>Skills</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione nostrum omnis tempore eum harum quo,
            ducimus esse? Enim vitae laborum, possimus aperiam laboriosam, sunt voluptas deserunt, consequatur ut
            distinctio in?</p>
    </section>

    <section class="active">
        <h2>Hi, my name is Iris</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ut hic eaque debitis maiores neque est
            earum, provident, ipsum corporis quod? Aperiam maxime aliquam temporibus dolor atque pariatur error
            deleniti!</p>
    </section>

    <section>
        <h2>Projects</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo totam optio aliquid nihil asperiores
            nesciunt omnis beatae laborum quasi. Nulla ex dicta minus et iste ad consectetur itaque ipsa ratione.</p>
    </section>

    <section>
        <h2>Socials</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, eius consequatur fugiat voluptate rem
            aliquid voluptatem repellat quia tenetur labore vero delectus impedit amet iure reprehenderit quaerat, fugit
            voluptatibus nemo.</p>
    </section>
</main>

{% render 'partials/foot.liquid' %}